<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="login-form">
    <h2 style="text-align: center;">Login</h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput required>
      </mat-form-field>
      <div class="pd-tp-10">
        <button class="full-width" mat-raised-button color="primary" type="submit">Login</button>
      </div>
      <div class="pd-tp-10">
        <button class="full-width" mat-stroked-button color="primary" type="button" routerLink="/signup">SignUp</button>
      </div>
    </form>
  </div>
</div>
