<canvas #canvas id="canvas"></canvas>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="imageDataURL" cdkFocusInitial>Signup</button>
</div>
