<div class="main-container">
  <video #video id="video" autoplay></video>
</div>

<div class="float-button" fxLayout="row" fxLayoutAlign="center center">
  <button  mat-raised-button  (click)="capture()" style="color: rgb(0, 0, 0);">Capture</button>
</div>

