video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.float-button{
  position: fixed;
  bottom: 50px;
  width: 100%;
}
