<mat-toolbar color="primary">Courses</mat-toolbar>
<div class="main-container">
  <mat-grid-list #grid [cols]="cols | async" rowHeight="4:3" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let item of courses | async; let i = index" [routerLink]="['/video', item.id]">
      <mat-grid-tile-header>
        <h3>{{item.name}}</h3>
      </mat-grid-tile-header>
      <img src="https://picsum.photos/{{400+i}}/{{300+i}}" style="width: 100%;">
      <mat-grid-tile-footer>
        <button mat-flat-button color="primary">View</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
