<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="login-form">
    <h2 style="text-align: center;">Signup</h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">


      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input formControlName="firstname"  matInput required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Second Name</mat-label>
        <input formControlName="lastname" matInput required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>email</mat-label>
        <input formControlName="email" type="email" matInput required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>dob</mat-label>
        <input formControlName="dob" matInput required>
      </mat-form-field>


      <div class="pd-tp-10">
        <button class="full-width" mat-raised-button color="primary" type="submit">Next</button>
      </div>
      <!-- <div class="pd-tp-10">
        <button class="full-width" mat-stroked-button color="primary" type="button">Login</button>
      </div> -->
    </form>
  </div>
</div>
