/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container{
  height: 100vh;
  padding: 20px;
}

.login-form {
  max-width: 400px;
  min-width: 300px;
  width: 60%;
  padding: 20px;
  box-shadow: 2px 5px 12px 2px #dadada;
}

.pd-tp-10{
  padding-top: 10px;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.no-scroll{
  overflow: hidden;
}

.mat-stepper-horizontal-line{
  display: none!important;
}
.mat-step-header{
  display: none!important;
}
