<div>
  <mat-horizontal-stepper linear="true" #stepper>
    <mat-step *ngFor="let item of questions; let i = index">
      <h3>{{item.question}}</h3>
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="answer"
      >
        <div style="margin: 10px 0;">
          <mat-radio-button [value]="item.option1"
            >{{item.option1}}</mat-radio-button
          >
        </div>
        <div style="margin: 10px 0;">
          <mat-radio-button [value]="item.option2"
            >{{item.option2}}</mat-radio-button
          >
        </div>
        <div style="margin: 10px 0;">
          <mat-radio-button [value]="item.option3"
            >{{item.option3}}</mat-radio-button
          >
        </div>
        <div style="margin: 10px 0;">
          <mat-radio-button [value]="item.option4"
            >{{item.option4}}</mat-radio-button
          >
        </div>
      </mat-radio-group>
      <button
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="onNext(stepper, i)"
      >
        Next
      </button>
    </mat-step>
    <mat-step>
      <h4>Your Score is : {{score}}</h4>
      <button
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="complete()"
      >
        Next
      </button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
