<div>
  <mat-video #video></mat-video>

  <video #videoCam id="video" autoplay style="display: none;"></video>
  <canvas #canvas style="display: none;"></canvas>

  <video #videoCam id="videoCam" autoplay></video>
</div>
